@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');

:root {
    // FONT SIZES
    --14-font-size: 14px;
    --16-font-size: 16px;
    --18-font-size: 18px;
    --20-font-size: 20px;
    --24-font-size: 24px;
    --36-font-size: 36px;
    --48-font-size: 48px;
    --273-font-size: 273px;

    //COLORS
    --date-color: #6941C6;
    --description-color: #C0C5D0;
    --newsletter-button-color: #7F56D9;

    @media screen and (max-width:800px) {
        --20-font-size: 18px;
    }

    @media screen and (max-width:750px) {
        --20-font-size: 20px;

    }

    @media screen and (max-width:550px) {
        --48-font-size: 36px;
        --36-font-size: 28px;
    }

    @media screen and (max-width:450px) {
        --48-font-size: 32px;
    }

    @media screen and (max-width:380px) {
        --48-font-size: 28px;
    }

}




html {
    scroll-behavior: smooth;
}

html,
body,
::before,
::after {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scrollbar-width: none;
}



.main {
    width: 100%;
    padding-top: 3%;
    position: absolute;
    top: 0;

    --background-color: #ffffff;
    --text-color: #1a1a1a;

    &.dark-theme {
        --background-color: #090d1f;
        --text-color: #ffffff;
    }

    background-color: var(--background-color);


    color: var(--text-color);
    font-family: 'Inter';

    display: grid;
    grid-template-columns: 1fr 13fr 1fr;

    @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr;
    }

    .header {
        grid-column: 2/3;
        display: flex;
        align-items: center;
        padding-bottom: 4%;

        @media screen and (max-width: 1200px) {
            margin: 1% 3%;
        }

        &__navbar {
            width: 100%;
            display: flex;
            justify-content: space-between;

            &__name {
                grid-column-start: 1;
                grid-column-end: 2;
                font-weight: 600;
                font-size: var(--20-font-size);
            }

            &__link-list {
                grid-column-start: 3;
                grid-column-end: 4;
                display: flex;
                justify-content: center;
                margin-right: 4%;

                &__element {
                    list-style: none;
                    margin: 0 3%;

                    &__link {
                        font-size: var(--20-font-size);
                        text-decoration: none;
                        color: var(--text-color);

                        &.active {
                            font-weight: 600;
                            border-bottom: 1px solid var(--text-color);
                        }
                    }
                }

                &__theme-toggle-container {
                    flex-shrink: 0;
                    margin: 0 2%;
                }
            }

            &__burger-button {
                display: none;
                width: 0;
                height: 0;
                overflow: hidden;
                flex-direction: column;
                justify-content: space-between;

                span {
                    width: 38px;
                    height: 4px;
                    background-color: var(--text-color);
                    border-radius: 5px;
                }
            }

            @media screen and (max-width:750px) {
                &__link-list {
                    display: none;
                    width: 0;
                    height: 0;
                }

                &__burger-button {
                    display: flex;
                    width: 38px;
                    height: 28px;
                    margin-right: 4%;
                }
            }
        }
    }

    .content {
        grid-column: 2/3;
        height: auto;
        width: 100%;
        margin: 1% 0;

        @mixin postMainContent {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__date {
                color: var(--date-color);
                font-size: var(--14-font-size);
                font-weight: 500;
            }

            &__headline {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__text {
                    font-size: var(--24-font-size);
                    font-weight: 600;
                }

                &__link-icon-container {
                    &__icon {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            &__description {
                color: var(--description-color);
                font-size: var(--16-font-size);
                font-weight: 400;
                line-height: 24px;

                @media screen and(max-width:800px) {
                    overflow: hidden;
                    max-height: 70px;
                }
            }

            &__tags-container {
                display: flex;
                font-size: var(--14-font-size);

                .post-tag {
                    margin-right: 2%;
                }
            }
        }

        @mixin postThumbnail {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            background-color: red;
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .post-tag {
            padding: 4px 9px;
            background-color: #ffffff;
            border-radius: 25px;

            &.--purple {
                color: #6941C6;
                background-color: #F9F5FF;
            }

            &.--purple-blue {
                color: #3538CD;
                background-color: #EEF4FF;
            }

            &.--pink-dark {
                color: #C11574;
                background-color: #FDF2FA;
            }

            &.--blue-lightgray {
                color: #026AA2;
                background-color: #F0F9FF;
            }

            &.--green {
                color: #027A48;
                background-color: #ECFDF3;
            }

            &.--purple-gray {
                color: #363F72;
                background-color: #F8F9FC;
            }

            &.--orange {
                color: #C4320A;
                background-color: #FFF6ED;
            }

            &.--red {
                color: #C01048;
                background-color: #FFF1F3;
            }

        }

        // home.html
        .home-container {
            &__header {
                @media screen and (max-width: 1540px) {
                    --273-font-size: 260px;
                }

                @media screen and (max-width: 1460px) {
                    --273-font-size: 245px;
                }

                @media screen and (max-width: 1400px) {
                    --273-font-size: 230px;
                }

                @media screen and (max-width: 1300px) {
                    --273-font-size: 210px;
                }

                @media screen and (max-width: 1200px) {
                    --273-font-size: 200px;
                }

                @media screen and (max-width: 1150px) {
                    --273-font-size: 190px;
                }

                @media screen and (max-width: 1100px) {
                    --273-font-size: 170px;
                }

                @media screen and (max-width: 1000px) {
                    --273-font-size: 150px;
                }

                @media screen and (max-width: 850px) {
                    --273-font-size: 130px;
                }

                @media screen and (max-width: 750px) {
                    --273-font-size: 115px;
                }

                @media screen and (max-width: 650px) {
                    --273-font-size: 100px;
                }

                @media screen and (max-width: 570px) {
                    --273-font-size: 88px;
                }

                @media screen and (max-width: 500px) {
                    --273-font-size: 75px;
                }

                @media screen and (max-width: 420px) {
                    --273-font-size: 62px;
                }

                display: flex;
                justify-content: center;
                align-items: center;
                border-top: 1px solid var(--text-color);
                border-bottom: 1px solid var(--text-color);

                &__text {
                    color: var(--text-color);
                    font-size: var(--273-font-size);
                    font-weight: 700;
                    padding: 3% 0;
                }
            }

            &__main {
                margin-top: 7%;

                @media screen and (max-width: 1200px) {
                    margin: 8% 5% 0 5%;
                }

                @media screen and (max-width: 700px) {
                    margin: 5% 5% 0 5%;
                }

                .recent-posts {
                    &__header {
                        font-size: var(--24-font-size);
                        font-weight: 600;

                        @media screen and (max-width: 1200px) {
                            margin-bottom: 5%;
                        }
                    }

                    &__main {
                        margin-top: 3%;
                        display: grid;
                        grid-template-rows: 3fr 3fr 4fr;
                        grid-template-columns: 1fr 1fr;
                        width: 100%;
                        height: 700px;

                        gap: 35px;

                        @media screen and (max-width: 750px) {
                            gap: 20px;
                        }

                        &__post-container {

                            &:nth-child(1) {
                                grid-column: 1/2;
                                grid-row: 1/3;

                                .post {
                                    width: 100%;
                                    height: 100%;
                                    display: grid;
                                    grid-template-rows: 5fr 4fr;
                                    gap: 10px;

                                    &__thumbnail-container {
                                        grid-row: 1/2;
                                        @include postThumbnail();
                                    }

                                    &__main-container {
                                        margin-top: 4%;
                                        grid-row: 2/3;
                                        @include postMainContent();
                                    }
                                }
                            }

                            &:nth-child(2),
                            &:nth-child(3) {
                                grid-column: 2/3;

                                .post {
                                    width: 100%;
                                    height: 100%;
                                    display: grid;
                                    grid-template-columns: 1fr 1fr;

                                    &__thumbnail-container {
                                        grid-column: 1/2;

                                    }

                                    &__main-container {
                                        grid-column: 2/3;
                                        margin-left: 7%;

                                        &__date {
                                            color: var(--date-color);
                                        }

                                        @include postMainContent();
                                    }
                                }
                            }

                            &:nth-child(2) {
                                grid-row: 1/2;

                                .post__thumbnail-container {
                                    @include postThumbnail();
                                }

                            }

                            &:nth-child(3) {
                                grid-column: 2/3;
                                grid-row: 2/3;

                                .post__thumbnail-container {
                                    @include postThumbnail();
                                }
                            }


                            &:nth-child(4) {
                                grid-column: 1/3;
                                grid-row: 3/4;

                                .post {
                                    width: 100%;
                                    height: 100%;
                                    display: grid;
                                    grid-template-columns: 1fr 1fr;

                                    &__thumbnail-container {
                                        grid-column: 1/2;
                                        @include postThumbnail();
                                    }

                                    &__main-container {
                                        margin-left: 7%;
                                        grid-column: 2/3;
                                        @include postMainContent();
                                    }
                                }

                            }
                        }

                        @media screen and (max-width: 1200px) {
                            grid-template-rows: 3fr 3fr 3fr 3fr;
                            height: 1500px;

                            &__post-container {
                                &:nth-child(1) {
                                    height: 480px;
                                    grid-column: 1/3;
                                    grid-row: 1/2;

                                    .post {
                                        grid-template-rows: 2fr 1fr;

                                        &__thumbnail-container {
                                            grid-row: 1/2;
                                        }

                                        &__main-container {
                                            grid-row: 2/3;
                                            margin-top: 1%;
                                        }
                                    }
                                }

                                &:nth-child(2) {
                                    grid-column: 1/3;
                                    grid-row: 2/3;
                                }

                                &:nth-child(3) {
                                    grid-column: 1/3;
                                    grid-row: 3/4;
                                }

                                &:nth-child(4) {
                                    height: 480px;
                                    grid-column: 1/3;
                                    grid-row: 4/5;
                                    margin-top: 5%;

                                    .post {
                                        grid-template-rows: 1fr 1fr;

                                        &__thumbnail-container {
                                            grid-column: 1/3;
                                            grid-row: 1/2;
                                        }

                                        &__main-container {
                                            grid-column: 1/3;
                                            grid-row: 2/3;
                                            margin-left: 0%;
                                            margin-top: 2%;
                                        }
                                    }
                                }

                                &:nth-child(2),
                                &:nth-child(3) {
                                    .post {
                                        grid-template-columns: 2fr 3fr;

                                        &__main-container {
                                            height: 180px;
                                        }
                                    }
                                }
                            }
                        }

                        @media screen and (max-width: 750px) {
                            grid-template-columns: 1fr;
                            grid-template-rows: 1fr 1fr 1fr 1fr;
                            height: auto;
                            margin-top: 7%;

                            &__post-container {

                                @for $i from 1 through 4 {
                                    &:nth-child(#{$i}) {
                                        height: 500px;
                                        grid-template-columns: 1fr;
                                        grid-template-rows: 1fr 1fr;

                                        .post {
                                            width: 100%;
                                            height: 500px;
                                            display: grid;
                                            grid-template-rows: 1fr 1fr;

                                            &__thumbnail-container {
                                                grid-column: 1/3;
                                                grid-row: 1/2;
                                                @include postThumbnail();
                                            }

                                            &__main-container {
                                                grid-column: 1/3;
                                                grid-row: 2/3;
                                                margin-left: 0%;
                                                margin-top: 5%;
                                            }
                                        }
                                    }

                                    &:nth-child(4) {
                                        margin-top: 3%;
                                    }
                                }
                            }
                        }
                    }
                }

                .all-posts {
                    margin-top: 5%;

                    &__header {
                        font-size: var(--24-font-size);
                        font-weight: 600;

                        @media screen and (max-width: 1200px) {
                            margin-bottom: 4%;
                        }
                    }

                    &__main {
                        margin-top: 3%;
                        display: grid;
                        gap: 35px;
                        width: 100%;

                        @media screen and(min-width:1200px) {
                            grid-template-rows: 1fr 1fr;
                            grid-template-columns: 1fr 1fr 1fr;
                        }

                        @media screen and(max-width:1200px) {
                            grid-template-rows: 1fr 1fr 1fr;
                            grid-template-columns: 1fr 1fr;

                            &__post-container {
                                .post {
                                    &__thumbnail-container {
                                        @include postThumbnail();
                                    }
                                }
                            }
                        }

                        @media screen and (max-width: 800px) {
                            gap: 25px;
                        }

                        @media screen and(max-width:750px) {
                            grid-template-columns: 1fr;
                            &__post-container {
                                .post {
                                    &__thumbnail-container {
                                        @include postThumbnail();
                                    }
                                }
                            }
                        }


                        &__post-container {
                            .post {
                                width: 100%;
                                display: grid;
                                grid-template-rows: 1fr 1fr;

                                height: 400px;

                                &__thumbnail-container {
                                    @include postThumbnail();

                                    &__thumbnail {
                                        height: 180px;
                                    }
                                }

                                @media screen and (max-width:750px) {
                                    height: 500px;

                                    &__thumbnail-container {
                                        height: 300px;
                                    }
                                }

                                &__thumbnail-container {
                                    grid-row: 1/2;
                                    // 
                                }

                                &__main-container {
                                    margin-top: 7%;
                                    grid-row: 2/3;
                                    @include postMainContent();
                                }
                            }
                        }
                    }
                }

                .pagination {
                    margin-top: 3%;
                    margin-bottom: 4%;
                    padding-top: 2%;
                    border-top: 1px solid rgba(234, 236, 240, 0.37);
                    display: flex;
                    align-items: center;

                    &__content {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        font-size: var(--20-font-size);

                        @media screen and (max-width: 750px) {
                            margin-top: 5%;
                            flex-direction: column;
                            align-items: center;
                            height: 150px;
                        }

                        &__previous-container {
                            width: 25%;
                            display: flex;
                            align-items: center;

                            @media screen and (max-width: 750px) {
                                justify-content: center;
                            }

                            &__previous-text {
                                margin-left: 3%;
                            }

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        &__links {
                            width: 35%;
                            display: flex;
                            justify-content: space-evenly;

                            @media screen and (max-width: 750px) {
                                width: 80%;
                            }

                            &__link {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 4% 6%;
                                border-radius: 10px;
                                transition: all .3s;
                                margin: 0 1%;

                                @media screen and (max-width: 1200px) {
                                    border-radius: 6px;
                                }

                                @media screen and (max-width: 750px) {
                                    border-radius: 8px;
                                    padding: 2.5% 4%;
                                }

                                &:nth-child(1) {
                                    background-color: #ffffff;
                                    color: #112211;
                                }

                                &:nth-child(4) {
                                    &:hover {
                                        cursor: auto;
                                        background-color: var(--background-color);
                                        color: var(--text-color);
                                    }
                                }

                                &:hover {
                                    cursor: pointer;
                                    background-color: #ffffff;
                                    color: #112211;
                                }
                            }
                        }

                        &__next-container {
                            width: 25%;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;

                            @media screen and (max-width: 750px) {
                                justify-content: center;
                            }

                            &__next-text {
                                margin-right: 3%;
                            }

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        //post.html
        .post-container {
            display: grid;
            grid-template-columns: 3fr 8fr;
            gap: 40px;
            margin: 0 25px;

            &__left {
                grid-column: 1/2;

                @media screen and (max-width:850px) {
                    display: none;
                    overflow: hidden;
                }

                &__content {
                    &__header {
                        font-size: var(--24-font-size);
                        font-weight: 500;
                        margin-bottom: 10%;
                    }

                    &__main {
                        display: grid;

                        &__post-container {
                            @for $i from 1 through 12 {
                                &:nth-child(#{$i}) {
                                    .post {
                                        width: 100%;
                                        height: 450px;
                                        display: grid;
                                        grid-template-rows: 1fr 1fr;
                                        gap: 8%;

                                        &__thumbnail-container {
                                            grid-row: 1/2;
                                            @include postThumbnail();
                                        }

                                        &__main-container {
                                            grid-row: 2/3;
                                            @include postMainContent();
                                        }
                                    }

                                    margin-bottom: 10%;
                                }
                            }
                        }

                    }
                }
            }

            &__right {
                grid-column: 2/3;

                @media screen and (max-width: 850px) {
                    grid-column: 1/3;
                }

                &__content {
                    &__main {
                        .detailed-post {
                            &__date {
                                color: var(--date-color);
                                font-size: var(--14-font-size);
                                margin-bottom: 4%;
                            }

                            &__headline {
                                font-size: var(--36-font-size);
                                font-weight: 600;
                                margin-bottom: 4%;
                            }

                            &__thumbnail-container {
                                width: 100%;
                                height: 426px;

                                @media screen and (max-width: 1000px) {
                                    height: 320px;
                                }

                                @media screen and (max-width: 850px) {
                                    height: 370px;
                                }

                                @media screen and (max-width: 700px) {
                                    height: 350px;
                                }

                                @media screen and (max-width: 650px) {
                                    height: 300px;
                                }

                                @media screen and (max-width: 600px) {
                                    height: 270px;
                                }

                                @media screen and (max-width: 550px) {
                                    height: 230px;
                                }

                                @media screen and (max-width: 500px) {
                                    height: 200px;
                                }

                                @media screen and (max-width: 450px) {
                                    height: 170px;
                                }

                                @include postThumbnail();
                            }

                            &__paragraph-container {
                                color: var(--description-color);
                                margin-top: 30px;
                                font-size: var(--16-font-size);

                                &__paragraph {
                                    line-height: 24px;
                                    margin: 20px 0;

                                    .paragraph-heading {
                                        font-size: var(--18-font-size);
                                        font-weight: 700;
                                    }

                                    .paragraph-bold {
                                        font-weight: 700;
                                    }
                                }

                                .paragraph-list {
                                    margin-left: 25px;

                                    &__element {
                                        list-style: disc;
                                        font-size: var(--16-font-size);
                                        line-height: 24px;
                                    }
                                }

                                .paragraph-external-link {
                                    color: var(--description-color);
                                }
                            }

                            &__image-container {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                color: var(--description-color);

                                &__header {
                                    text-align: center;
                                    font-size: var(--16-font-size);
                                    font-weight: 700;
                                    line-height: 24px;
                                    width: 70%;

                                }

                                &__image {
                                    margin: 15px 0;
                                    width: 100%;
                                    height: 500px;
                                    object-fit: cover;

                                    @media screen and (max-width: 1000px) {
                                        height: 350px;
                                    }

                                    @media screen and (max-width: 850px) {
                                        height: 400px;
                                    }

                                    @media screen and (max-width: 800px) {
                                        height: 380px;
                                    }

                                    @media screen and (max-width: 700px) {
                                        height: 350px;
                                    }

                                    @media screen and (max-width: 650px) {
                                        height: 300px;
                                    }

                                    @media screen and (max-width: 600px) {
                                        height: 270px;
                                    }

                                    @media screen and (max-width: 550px) {
                                        height: 230px;
                                    }

                                    @media screen and (max-width: 500px) {
                                        height: 200px;
                                    }

                                    @media screen and (max-width: 450px) {
                                        height: 170px;
                                    }
                                }

                                &__footer {
                                    text-align: center;
                                    font-size: var(--16-font-size);
                                    line-height: 24px;
                                    width: 75%;

                                }
                            }

                            &__tags-container {
                                display: flex;

                                // color: #1a1a1a;
                                .post-tag {
                                    margin-right: 1%;
                                }
                            }
                        }
                    }

                    &__footer {
                        margin-top: 8%;
                        margin-bottom: 5%;

                        @media screen and (max-width: 750px) {
                            margin-top: 12%;
                            margin-bottom: 3%;
                        }

                        .newsletter {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            &__header-subtext {
                                color: var(--date-color);
                                font-weight: 600;
                                margin-bottom: 2%;
                            }

                            &__header-text {
                                font-size: var(--48-font-size);
                                font-weight: 600;
                                margin-bottom: 2%;
                            }

                            &__main-text {
                                width: 85%;
                                text-align: center;
                                font-size: var(--20-font-size);
                                color: var(--description-color);
                                line-height: 24px;
                                margin-bottom: 1.5%;

                                @media screen and (max-width:450px) {
                                    --20-font-size: 17px;
                                }

                                @media screen and (max-width:380px) {
                                    --20-font-size: 15px;
                                }
                            }

                            .newsletter-form {
                                width: 65%;

                                @media screen and (max-width:1300px) {
                                    width: 75%;
                                }

                                @media screen and (max-width:550px) {
                                    width: 85%;
                                }

                                &__input-group {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    margin-top: 5%;
                                    width: 100%;
                                    height: 100%;

                                    &__input {
                                        width: 65%;
                                        border-radius: 10px;
                                        font-size: var(--16-font-size);
                                        border: none;
                                        padding: 17px 14px;
                                    }

                                    &__submit {
                                        width: 25%;
                                        display: flex;
                                        padding: 17px 0;
                                        border-radius: 8px;
                                        border: none;
                                        background-color: var(--newsletter-button-color);
                                        color: #ffffff;
                                        font-size: var(--16-font-size);
                                        font-weight: 500;
                                    }
                                }

                                &__subtext {
                                    margin-top: 1%;
                                    color: var(--description-color);
                                    font-size: var(--14-font-size);

                                    &__link {
                                        color: var(--description-color);
                                    }
                                }

                                @media screen and (max-width:500px) {
                                    &__input-group {
                                        flex-direction: column;

                                        &__input {
                                            margin-bottom: 5%;
                                            width: auto;
                                        }

                                        &__submit {
                                            width: auto;
                                            padding-left: 3%;
                                            padding-right: 3%;
                                        }
                                    }

                                    &__subtext {
                                        text-align: center;
                                        margin-top: 10%;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }

    }


    .footer {
        grid-column: 2/3;
        width: 100%;
        padding: 1% 0;

        @media screen and (max-width: 1200px) {
            margin: 5% 4% 2% 4%;
        }

        @media screen and (max-width: 750px) {
            margin-left: 0;
        }

        &__list {
            display: flex;
            width: 100%;
            font-size: var(--20-font-size);
            margin-left: 2%;

            @media screen and (max-width: 1200px) {
                &:nth-child(1) {
                    margin-left: 0;
                }
            }

            &__element {
                margin: 0 .6%;

                @media screen and (max-width:800px) {
                    margin: 0 .8%;
                }

                @media screen and (max-width:600px) {
                    margin: 0 1%;
                }


                &__link {
                    text-decoration: none;
                    color: var(--text-color);
                }
            }

            @media screen and (max-width: 750px) {
                flex-direction: column;
                align-items: center;

                &__element {
                    margin-top: 3%;
                    margin-left: 0;

                    &:first-child {
                        order: 99;
                    }
                }
            }
        }

    }
}